<script>
export default {
  data() {
    return {
      number1: Number,
      number2: Number,
      result: 0,
      fontSize: 50
    }
  },
  methods: {
    plus(number1, number2) {
      this.result = parseInt(number1) + parseInt(number2)
    },
    minus(number1, number2) {
      this.result = number1 - number2
    },
    multiply(number1, number2) {
      this.result = number1 * number2
    },
    divided(number1, number2) {
      this.result = number1 / number2
    },
    clear() {
      this.number1 = Number
      this.number2 = Number
      this.result = 0
      console.log(this.fontSize);
    },
    XtoY(number1, number2) {
      this.result = Math.pow(number1, number2)
    },
    YtoX(number1, number2) {
      this.result = Math.pow(number2, number1)
    },
    Xto2(number1) {
      this.result = Math.pow(number1, 2)
    },
    Yto2(number2) {
      this.result = Math.pow(number2, 2)
    }
  },
  watch: {
    result: function() {
      if (this.result.toString().length > 20) {
        this.fontSize = 45;
      } else {
        this.fontSize = 50;
      }
    }
  }
}
</script>

<template>
  <h1 class="title"> CALCULATOR </h1> 
  <v-container>
    <v-card class="calculator" style="border: 2px black solid;" width="600" height="600">
      RESULT:
      <p class="result" :style="{ fontSize: fontSize + 'px' }"> {{ result }} </p>
      <v-divider style="border: 1px solid black;" color="black"></v-divider>
      <v-col
        cols="12"
        sm="6"
        md="6"
        style="float: left;"
        >
        <v-text-field 
          label="NUMBER 1" 
          type="number"
          outlined
          v-model="number1"
          >
        </v-text-field>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="6"
        style="float: left;"
        >
        <v-text-field 
          label="NUMBER 2" 
          type="number"
          v-model="number2"
          >
        </v-text-field>
      </v-col>
      <br> <v-divider style="border: 1px solid black;" color="black" class="mt-15"></v-divider>
      <!-- 1. -->
      <v-row class="mt-15">
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="Xto2(number1)"
            ><p style="font-size: 40px;" >x²</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="Yto2(number2)"
            ><p style="font-size: 40px;" >y²</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="XtoY(number1, number2)"
            ><p style="font-size: 40px;">xʸ</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="YtoX(number1, number2)"
            ><p style="font-size: 40px;" >yˣ</p></v-btn>
        </v-col>
      </v-row>
      <!-- 2. -->
      <v-row class="mt-15">
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="plus(number1, number2)"
            ><p style="font-size: 40px;" >+</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="minus(number1, number2)"
            ><p style="font-size: 40px;" >-</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="multiply(number1, number2)"
            ><p style="font-size: 30px;" >x</p></v-btn>
        </v-col>
        <v-col>
          <v-btn
            size="80"
            class="ml-8"
            elevation="7"
            tile
            outlined
            @click="divided(number1, number2)"
            ><p style="font-size: 40px;" >/</p></v-btn>
        </v-col>
        <v-col>
          <v-btn 
            size="40"
            class="ml-5 mt-5"
            color="warning"
            @click="clear"
            ><p style="font-size: 30px;">C</p>
          </v-btn>
        </v-col>
      </v-row>      
    </v-card>
  </v-container>
</template>

<style>
.calculator {
  margin: auto;
}
.result{
  margin-right: 15px;
  text-align: right;
  font-size: 50px;
}
.title{
  text-align: center;
  margin-top: 5px;
}
</style>
